<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Blog postJS</title>

</head>
<body>
    {{>_navbar}}
    <div class="container mt-4">
        {{>_msg}}
        {{{body}}}
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.1/cjs/popper.min.js" integrity="sha512-BftZ66iq9R6C4YP4NOUxqr9FRthQQ2pvktR1W6Wi0qRqZkSWyMFBKRAykQJyGHVQ3ChBXYhDVbW9Bf4Jxv08iA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/bootstrap.js"></script>
</html>